header.header
    a.logo(href='../../index.html')
        | Nine
    // Header Navbar: style can be found in header.less
    nav.navbar.navbar-static-top(role='navigation')
        .navbar-right
            ul.nav.navbar-nav

