doctype html
html(ng-app='index')
    head
        include head
    body.fixed(ng-controller='index').no-header
        //include header
        .wrapper.row-offcanvas.row-offcanvas-left
            include sidebar.jade
            aside.right-side
                div
                    section.p10(ui-view)
