aside.left-side.sidebar-offcanvas
    // sidebar: style can be found in sidebar.less
    img.sidebar-logo(src="/nine/images/logo.svg")
    section.sidebar
        // Sidebar user panel
        .user-panel
            .pull-left.info
                i.fa.fa-angellist.item-m5
                span.item-m5 {{user.name}}
                a(href='/user/logout') 退出

        // sidebar menu: : style can be found in sidebar.less
        ul.sidebar-menu
            li.treeview.active
                a
                    i.fa.fa-picture-o
                    span 我的任务
                ul.treeview-menu
                    li(ui-sref-active="active")
                        a(ui-sref-active="active" ui-sref='commander({"commander.id":user.id})') 分配给我
                        a(ui-sref-active="active" ui-sref='creator({"creator.id":user.id})') 我创建的
            li.treeview
                a
                    i.fa.fa-group
                    span 团队任务
                ul.treeview-menu
                    li(ng-repeat="group in user.groups")
                        a(ui-sref-active="active" ui-sref="group({'group.id':group.id})" ) {{group.name}}
            li.treeview
                a(ui-sref="groups")
                    i.fa.fa-group
                    span 团队列表
