div.box(ng-controller="groups")
   div.box-header(ng-init="status")
      .box-title Group
   div.box-body
      div(ng-controller="node.crud",crud-config='{"type":"group"}',ng-init="crud.query()", crud-params='{"limit":256}')
         form(ng-init="newGroup={}")
            .row
               .col-sm-6
                  .form-group
                     input.form-control(type="text",ng-model="newGroup.name")
               .col-sm-6
                  .form-group
                     a.btn.btn-success(ng-click="crud.create(newGroup,true)")
                        i.fa.fa-plus
         .row(ng-repeat="group in crud.data.records track by group.id")
            .todo(ng-class="{completed:todo.completed}")
               div.body.clearfix
                  div
                     span.text {{group.name}}
                     span(ng-show="inGroup(group,user)") | 已加入
                     a.item-m5.btn.btn-success.btn-tiny(ng-click="join(group,user)",ng-show="!inGroup(group, user)")
                        i.fa.fa-plus
