div.box(ng-controller="tomato")
    div.box-header(ng-init="status")
        .box-title TODO
        .box-tools
            a(ng-click="query({completed:false})") 未完成
            a(ng-click="query({completed:true})") | 已完成
            a(ng-click="query({completed:null})") | 全部
    div.box-body
        form(ng-init="newTodo={}",role="form")
            .row
                .col-sm-7
                    .form-group
                        input.form-control(type="text",ng-model="newTodo.content",ng-keyup="($event.keyCode==13)&&create(newTodo,group)")
                .col-sm-3
                    .form-group
                        select.form-control(ng-model="newTodo.commander" ng-options="member.name for member in  members")
                .col-sm-2
                    .form-group
                        a.btn.btn-success(ng-click="create(newTodo,group)",ng-disabled="newTodo.$$submiting")
                            i.fa.fa-arrow-down
            //.row(ng-repeat="todo in crud.data.records track by todo.id" ng-include="'todo.tpl.html'")
        div
            .row(ng-repeat="todo in todos" ng-include="'todo.tpl.html'")
            script(type="text/ng-template",id="todo.tpl.html")
                .todo(ng-class="{completed:todo.completed}")
                    div.body.clearfix
                        div
                            span.complete
                                i.fa.fa-square-o(ng-show="!todo.completed",ng-click="(todo.commander.id==user.id)&&toggleComplete(todo)")
                                i.fa.fa-check-square-o(ng-show="todo.completed",ng-click="(todo.commander.id==user.id)&&toggleComplete(todo)")
                            span.text {{todo.content}}
                            span.tomatos
                                span(ng-show="(todo.tomatos&&todo.tomatos!==0)")
                                    i.fa.fa-fire
                                    |  {{todo.tomatos}}
                                span(ng-show="(todo.childrenTomatos&&todo.childrenTomatos!==0)")
                                    i.fa.fa-music
                                    |  {{todo.childrenTomatos}}
                            .badge.item-m5.bg-green.clock(ng-show="todo.$$clock.status=='started'||todo.$$clock.status=='paused'")
                                span
                                    i.item-m5.fa.fa-clock-o(ng-show="todo.$$clock.status=='started'")
                                    i.item-m5.fa.fa-pause(ng-show="todo.$$clock.status=='paused'")
                                    span {{todo.$$clock.time|duration:"mm:ss"}}
                            span(ng-show="group.id")
                                .badge.item-m5.bg-green.user
                                    i.item-m5.fa.fa-user
                                    span {{todo.creator.name}}
                                .badge.item-m5.bg-green.user
                                    i.item-m5.fa.fa-user
                                    span {{todo.commander.name}}
                            span(ng-show="!group.id")
                                .badge.item-m5.label-success.user(ng-show="todo.creator.id!==user.id")
                                    i.fa.fa-user
                                    span {{todo.creator.name}}
                                .badge.item-m5.label-success.user(ng-show="todo.commander.id!==user.id")
                                    i.fa.fa-user
                                    span {{todo.commander.name}}

                            .actions
                                a.btn.btn-success.btn-tiny(ng-click="todo.$$addingChild=true")
                                    i.fa.fa-plus
                                span(ng-show="todo.commander.id==user.id")
                                    a.btn.btn-success.btn-tiny(ng-show="todo.$$clock.status!='started'&&todo.$$clock.status!='paused'",ng-click="clock(todo);start(todo)")
                                        i.fa.fa-play
                                    a.btn.btn-success.btn-tiny(ng-show="todo.$$clock.status=='started'",ng-click="pause(todo)")
                                        i.fa.fa-pause
                                    a.btn.btn-success.btn-tiny(ng-show="todo.$$clock.status=='paused'",ng-click="resume(todo)")
                                        i.fa.fa-play
                                    a.btn.btn-success.btn-tiny(ng-show="todo.$$clock.status=='started'||todo.$$clock.status=='paused'",ng-click="stop(todo)")
                                        i.fa.fa-stop
                                span(ng-show="todo.creator.id==user.id||todo.commander.id==user.id")
                                    a.btn.btn-danger.btn-tiny(ng-show="todo.$$clock.status!='started'&&todo.$$clock.status!='paused'",ng-click="remove(todo)")
                                        i.fa.fa-times
                        div(style="position:absolute;bottom:0;left:0;width:100%;height:4px;{{(todo.$$clock.status=='started'||todo.$$clock.status=='paused')?'background:#DFF5F4;width:'+(todo.$$clock.time/todo.$$clock.total)*100+'%':''}}")


                    div.addChild(ng-show="todo.$$addingChild",ng-init="newTodo={parentId:todo.id}")
                        form(role="form")
                            .row
                                .col-sm-6
                                    .form-group
                                        input.form-control(type="text",ng-model="newTodo.content",ng-keyup="($event.keyCode==13)&&create(newTodo,group)")
                                .col-sm-3
                                    .form-group
                                        select.form-control(ng-model="newTodo.commander" ng-options="member.name for member in  members")
                                .col-sm-3
                                    .form-group
                                        a.btn.btn-success(ng-click="create(newTodo,group)",style="margin-right:5px")
                                            i.fa.fa-arrow-down
                                        a.btn.btn-success(ng-click="todo.$$addingChild=false")
                                            i.fa.fa-times

                    div.children(ng-if="todo.children.length")
                        div(ng-repeat="todo in todo.children",ng-include="'todo.tpl.html'")


