.todo{
    .row{
        margin: 0;
    }
    .content{
        line-height: 38px;
        a.btn{
            display: none;
            margin-left: 4px;
        }
        &:hover{
            a.btn{
                display: inline-block;
            }
        }
        padding: 2px 10px;
        border-top: 1px #eee solid ;
        border-bottom: 1px #eee solid ;
        border-left: 3px #eee solid ;
        border-right: 1px #eee solid ;
    }
    .progress{
        height:8px;
        margin: 2px 0;
    }
    .children{
        padding-left: 30px;
    }
}